.inputFormulario_div {
    display: flex;
    justify-content: center;
}

.inputFormulario_contenedor {    
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 50px;
}

.inputFormulario_input {
    height: 40px;
    width: 100%;
    margin-bottom: 3px;
    border: solid 2px white;
    font-family: 'Crete Round', serif;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.568);
}

.inputFormulario_button {
    height: 40px;
    width: 100%;
    border: solid 2px white;
    font-family: 'Crete Round', serif;
    font-weight: bold;
    font-size: larger;
    color: red;
    background-color: rgba(0, 0, 0, 0.568);
    font-style: italic;
}

.inputFormulario_button:hover {    
    background-color: rgb(239 238 87);    
}
