
.pantallaDePreparacion_contenedor {
    display: flex;        
}

.pantallaDePreparacion_divReglas {
    display: flex;
    flex-direction: column;
    background-color: black;
       
}

.pantallaDePreparacion_textReglas {
    border: solid 1px white;
    color: rgb(239 238 87);
    background-color: black;
    font-size: larger;
}


.pantallaDePreparacion_divButton {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.pantallaDePreparacion_button {    
    align-self: center;
    height: 40px;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    border: solid 2px white;
    font-family: 'Crete Round', serif;
    font-weight: bold;
    font-size: larger;
    color: red;
    background-color: rgba(0, 0, 0, 0.568);
    font-style: italic;    
}

.pantallaDePreparacion_button:hover {
    background-color: rgb(239 238 87); 
}
