.phantomBall_contenedor {
    display: flex;
    width: 100vw;    
    height: 100vh;
    background-color: whitesmoke;
}

.phantomBall_start {
    width: fit-content;
    height: fit-content;  
}

.phantomBall_mostrarBoton {
    margin: auto;
    z-index: 2;
}