.phantomBall_contenedor {
    display: flex;
    flex-direction: column;
    width: 100vw;    
    height: 100vh;
    background-color: black;
}

.phantomball_divInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.phantomball_count {
    width: fit-content;
    border: solid 3px white;
    color: white;
    padding: 4px;    
    margin-left: 20px;
    margin-top: 10px;
}

.phantomball_puntaje {
    width: fit-content;
    border: solid 3px white;
    color: white;
    padding: 4px;    
    margin-right: 20px;
    margin-top: 10px;
}

.phantomBall_time {
    width: fit-content;
    border: solid 3px white;
    color: white;
    padding: 4px;
    margin-top: 10px;
}

.phantomball_divMostrarBoton {
    display: flex;
    align-self: center;
}

.phantomBall_mostrarBoton {   
    margin: auto;
    margin-top: 100px;
    align-self: center;
    height: 40px;
    padding-left: 8px;
    padding-right: 8px;
    border: solid 2px white;
    font-family: 'Crete Round', serif;
    font-weight: bold;
    font-size: larger;
    color: red;
    background-color: rgba(0, 0, 0, 0.568);
    font-style: italic; 
}

.phantomBall_mostrarBoton:hover {
    background-color: rgb(239 238 87); 
}

.phantomBall_start {
    z-index: 2;    
}

.phantomBall_invert {
    z-index: 2;
    filter: invert();
}

/* MEDIA QUERIES */

@media (max-width:330px) {
    .phantomBall_start, .phantomBall_invert {
        width: 10px;
        height: 10px;
    }

    .phantomball_count, .phantomBall_time, .phantomball_puntaje {
        font-size: smaller;
    }
}
