.ranking_div {
    display: flex;
    min-width: 200px;  
}

.ranking_ul {   
    list-style: none;
    border: solid 1px white;
    background-color: black;   
}

.ranking_title {
    text-align: center;    
    padding: 10px;
    text-decoration: underline;
    color: red;
    font-weight: normal;
}

.ranking_li {
    color: white;
    padding: 15px;
}