* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app_contenedor {
    width: 1510px;
    height: 640px;
    background-color: rgb(187, 162, 162);
}

.divDeResultados {
    display: flex;
    justify-content: space-between;
}